<%- include('../partials/header') %>

<div class="container">
    <form class="edit_form" action="/workouts/<%= workout._id %>/edit?_method=PUT" method="POST">
        <p>Name: <%= workout.name %></p>
        <input type="text" name="name">
        <p>Sets: <%= workout.sets %></p>
        <input type="text" name="sets" min="1">
        <p>Reps: <%= workout.reps %></p>
        <input type="text" name="reps" min="1">
            <p>Weight:<br> <%= workout.weight %></p>
            <input type="text" name="weight">

            <p>Description:<br> <%= workout.description %></p>
            <input type="text" name="description">

            <p>Equipment:<br> <%= workout.equipment %></p>
            <input type="text" name="equipment">

            <p>Muscle Group:<br> <%= workout.muscle_group %></p>
            <input type="text" name="muscle_group">

            <p>Level:<br> <%= workout.level %></p>
            <input type="text" name="level">

        <br>
        <input class="submit_button center flex-basis" type="submit" value="Save Edits">
    </form>

</div>
<form id="delete" class="center2" action="/workouts/<%= workout._id %>?_method=DELETE" method="POST">
    <input id="delete_button" class="delete_button" type="submit" value="Delete Workout?">
</form>

<script src="/javascripts/double_click.js"></script>

<%- include('../partials/footer') %>