<%- include('../partials/header') %>

    <!-- check if any available workouts -->
    <div class="container">
        <div class="workouts column">
        <% if (workouts.length) { %>
            <% workouts.forEach(w => { %>
                <div class="workout_child workouts_show">
                    <h2><%= w.name %></h2>
                    <p><%= w.sets %>x<%= w.reps %></p>
                    <% if (w["weight"] !== "") { %>
                        <p><%= w.weight %></p>
                    <% } %>
                    <% if (w["description"] !== "") { %>
                        <p><%= w.description %></p>
                    <% } %>
                    <% if (w["equipment"] !== "") { %>
                        <p><%= w.equipment %></p>
                    <% } %>
                    <% if (w["muscle_group"] !== "") { %>
                        <p><%= w.muscle_group %></p>
                    <% } %>
                    <% if (w["level"] !== "") { %>
                        <p><%= w.level %></p>
                    <% } %>
                    <a class="link" href="/workouts/<%= w._id %>/edit">-Edit <%= w.name %>-</a>
                </div>
            <% }) %>
        </div>
        <% } else { %>
            No Workouts Yet! Create One Below!
        <% } %>
        
    </div>
    <br><br><br>
    <div class="container">
        <form class="add_workout" action="/workouts" method="POST">

            <label for="name">Name:</label>
            <input type="text" name="name" required>

            <label for="sets">Sets:</label>
            <input type="number" name="sets" min="1" required>

            <label for="reps">Reps:</label>
            <input type="number" name="reps" min="1" required>

            <label for="weight">Weight:</label>
            <input type="text" name="weight">

            <label for="equipment">Equipment:</label>
            <input type="text" name="equipment">

            <label for="muscle_group">Muscle Gorup:</label>
            <input type="text" name="muscle_group">

            <label for="level">Level:</label>
            <input type="text" name="level">

            <label for="description">Description:</label>
            <input type="text" name="description">

            <input class="submit_button center" type="submit" value="Submit">

        </form>
    </div>
    <br><br><br>
        <div class="container">
            <form class="filter" action="/workouts" method="GET">

                <label for="name">Name:</label>
                <input type="text" name="name">

                <label for="muscle_group">Muscle Group:</label>
                <select name="muscle_group" multiple>
                    <option value="" disabled selected>Select One</option>
                    <option value="Abdominals">Abdominals</option>
                    <option value="Abductors">Abductors</option>
                    <option value="Adductors">Adductors</option>
                    <option value="Biceps">Biceps</option>
                    <option value="Calves">Calves</option>
                    <option value="Chest">Chest</option>
                    <option value="Forearms">Forearms</option>
                    <option value="Glutes">Glutes</option>
                    <option value="Hamstrings">Hamstrings</option>
                    <option value="Lower Back">Lower Back</option>
                    <option value="Middle Back">Middle Back</option>
                    <option value="Traps">Traps</option>
                    <option value="Quadriceps">Quadriceps</option>
                    <option value="Shoulders">Shoulders</option>
                    <option value="Triceps">Triceps</option>
                    <option value=""></option>
                </select>

                <label for="equipment">Equipment:</label>
                <select name="equipment" multiple>
                    <option value="" disabled selected>Select One</option>
                    <option value="Bands">Bands</option>
                    <option value="Barbell">Barbell</option>
                    <option value="Kettlebells">Kettlebells</option>
                    <option value="Dumbbell">Dumbbell</option>
                    <option value="Cable">Cable</option>
                    <option value="Machine">Machine</option>
                    <option value="Body Only">Body Only</option>
                    <option value="Medicine Ball">Medicine Ball</option>
                    <option value="Exercise Ball">Exercise Ball</option>
                    <option value="Foam Roll">Foam Roll</option>
                    <option value="E-Z Curl Bar">E-Z Curl Bar</option>
                    <option value="None">None</option>
                    <option value="Other">Other</option>
                </select>

                <label for="level">Level:</label>
                <select name="level" multiple>
                    <option value="" disabled selected>Select One</option>
                    <option value="Beginner">Beginner</option>
                    <option value="Intermediate">Intermediate</option>
                    <option value="Expert">Expert</option>
                </select>

                <input class="submit_button center flex-basis" type="submit" value="Filter Results">
            </form>
        </div>
        <br>
    <% sample_workouts?.forEach(w => { %>
        <div class="container">
        <form action="/workouts" method="POST">
            <input type="hidden" name="name" value="<%= w.name %>" readonly>
            <h2 for=""><%= w.name %></h2>
            <br>
            <input type="hidden" name="description" value="<%= w.description %>" readonly>
            <label for=""><%= w.description %></label>



            <input type="hidden" name="muscle_group" value="<%= w.muscle_group %>" readonly>
            <div><label for=""><%= w.muscle_group %></label></div>

            <input type="hidden" name="equipment" value="<%= w.equipment %>" readonly>
            <div><label for=""><%= w.equipment %></label></div>

            <input type="hidden" name="level" value="<%= w.level %>" readonly>
            <div><label for=""><%= w.level %></label></div>

            <div class="sample_form">
                <label for="sets">Sets:</label>
                <input type="number" name="sets" min="1" required>

                <label for="reps">Reps:</label>
                <input type="number" name="reps" min="1" required>

                <label for="weight">Weight:</label>
                <input type="text" name="weight">

                <input class="submit_button center flex-basis" type="submit" value="Add to Workouts">
            </div>
        </form>
    </div>
    <br>

    <% }) %>

<%- include('../partials/footer') %>
