<%- include('../partials/header') %>


    <% if (routines.length) { %>
        <main>

        <% routines.forEach(routine => { %>
           <div>
            <h1><%= routine.routineName %></h1>
            <% routine.workouts.forEach(w => { %>
                <div>
                    <h3><%= w.name %></h3>
                    <p><%= w.sets %>x<%= w.reps %></p>
                </div>
            <% }) %>
            <a href="/routines/<%= routine._id %>">Routine Details</a>
           </div>
        <% }) %>

        </main>

    <% } else { %>

        <p>No Routines!</p>
        

    <% } %>

    <a href="/routines/new">Create A Routine</a>

<%- include('../partials/footer') %>