<%- include('../partials/header') %>


    <% if (routines.length) { %>
        

            <% routines.forEach(routine => { %>

            <div class="container gap">
                <h1><%= routine.routineName %></h1>
                <div class="workouts">
                    <% routine.workouts.forEach(w => { %>
                        <div class="workout_child">
                            <h3><%= w.name %></h3>
                            <p><%= w.sets %>x<%= w.reps %></p>
                        </div>
                    <% }) %>
                </div>
                <a class="link" href="/routines/<%= routine._id %>">-Routine Details-</a>
            </div>
            <% }) %>  
        </div>
    <% } else { %>
        <div class="container">
            <h2>No Routines!</h2>
        </div>
        

    <% } %>

    
    <h1 class="workouts_link margin"><a class="link" href="/routines/new">-Create A Routine-</a></h1>

<%- include('../partials/footer') %>